<h1 class="text-center">Panel principal</h1>

<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-body">
            <h3>Capital Disponible: USD {{capital.suma_monto}}</h3> 
        </div>
    </div>
</div>