<div class="continer p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/posiciones/add" method="POST">
                        <h5 class="card-title">Nueva Posición</h5>
                        <h6 class="card-subtitle mb-2 text-muted">posicion mensual</h6>
                        <div class="form-group">
                            <input type="text" class="form-control" name="monto" placeholder="Monto en Dolares" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Colocar Posición
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>