<div class="col-md-3 mx-auto">
    <div class="card text-left">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-center {{isActiveColor detalle.activo}} rounded">{{isActive
                detalle.activo}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Fecha de registro: {{detalle.fecha_reg}}</h6>
            <h5 class="card-title">USD: {{detalle.monto}}</h5>
            <a class="btn btn-info" href="/posiciones/datos/">Detalles de pago</a>
                                    
            <a class="btn btn-danger" href="/posiciones/historial">Volver</a>
        </div>
    </div>
</div>